<div class="main-body">
  <!-- <app-header></app-header> -->
  <div class="">
    <carousel>
      <slide>
        <img src="assets/images/slide1.jpg" alt="Women Empowerment" style="display: block; width: 100%">
      </slide>
      <slide>
        <img src="assets/images/slide1.jpg" alt="Women Education" style="display: block; width: 100%">
      </slide>
      <slide>
        <img src="assets/images/slide1.jpg" alt="Child Education" style="display: block; width: 100%">
      </slide>
    </carousel>
  </div>
  <div class="container marketing py-2">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-3">
      <div class="col-lg-4">
        <div class="d-flex justify-content-center">
          <img src="assets/images/wemp.jpg " class=" rounded-circle" width="140" height="140">

        </div>

        <h3>Women Unemployment</h3>
        <p>Women's empowerment is the process of empowering women. Empowerment can be defined in many ways, however,
          when talking about women's empowerment, empowerment means accepting and allowing people (women) who are on the
          outside of the decision-making process into it. Women’s empowerment is the most crucial point to be noted for
          the overall development of a country. Empowerment is the process that creates power in individuals over their
          own lives, society, and in their communities. People are empowered when they are able to access the
          opportunities available to them without limitations and restrictions such as in education, profession and
          lifestyle. Feeling entitled to make your own decisions creates a sense of empowerment. Empowerment includes
          the action of raising the status of women through education, raising awareness, literacy, and training.
          Women's empowerment is all about equipping and allowing women to make life-determining decisions through the
          different problems in society.</p>
        <p><a class="btn btn-secondary" [routerLink]="['/unemployment']" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="d-flex justify-content-center mb-2">
          <img src="assets/images/women_edu.jpg " class=" rounded-circle" width="140" height="140">

        </div>
        <h3>Women Education</h3>
        <p>Women education refers to every form of education that aims at improving the knowledge, and skill of women
          and girls. It includes general education at schools and colleges, vocational and technical education,
          professional education, health education, etc. Women education encompasses both literary and non-literary
          education.
        </p>
        <p><a [routerLink]="['/education/women']" class="btn btn-secondary" role="button">View details &raquo;</a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <div class="d-flex justify-content-center mb-2">
          <img src="assets/images/education.jpg " class=" rounded-circle" width="140" height="140">

        </div>
        <h3>Child Education</h3>
        <p>Education sets in motion a virtuous spiral: girls and women gain greater knowledge, skills, self-confidence
          and capabilities, improving their own life prospects—and, in turn, an educated woman provides better
          nutrition, health care, and education for her family</p>
        <p><a class="btn btn-secondary" [routerLink]="['/education/child']" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- /Team -->
    <!-- Statitics Info -->
    <div class="container-fluid gedf-wrapper mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="h5">@LeeCross</div>
              <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
              <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                etc.
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h6 text-muted">Followers</div>
                <div class="h5">5.2342</div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">Following</div>
                <div class="h5">6758</div>
              </li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 gedf-main  games-schedule">


          <div class="">
            <div class="games-schedule-items" *ngFor="let item of recentEvents">
              <div class="row games-team">
                <div class="col-md-5">
                  <img src="assets/images/slide1.jpg" style="width: 300px;height: 150px;">
                  <span>{{item.Header}}</span>
                </div>

              </div>
              <div class="row games-info">
                <div class="col-md-12">
                  <p><span class="glyphicon glyphicon-play-circle"></span> <small>{{item.EventDate}}</small></p>
                  <p class="games-dash"></p>
                  <p><small>{{item.newsAndAnnouncements}}</small></p>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="col-md-3">
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Info -->



  <!-- Quote -->

  <div class="container-fluid text_bg">
    <div class="container">
      <div class="row">
        <marquee behavior="" direction="">
          <div class="col-12 text1">“Education is one thing no one can take away from you. If you educate a man, you
            educate an individual. But if you educate a woman, you educate a nation. When girls are educated, their
            countries become stronger and more prosperous.“
          </div>
        </marquee>
      </div>
    </div>
  </div>
  <!-- /Quote -->
  <!-- footer -->

  <div class="container-fluid footermain">
    <div class="container">
      <footer class="pt-4 pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <h5 class="tabs">TechnoFlair Solutions</h5>
            <ul class="list text-small footer-list">
              <li><a class="text-muted" href="#">About us</a></li>
              <li><a class="text-muted" href="#">Career</a></li>
              <li><a class="text-muted" href="#">Our works / References</a></li>
              <li><a class="text-muted" href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h5 class="tabs">OUR SERVICES</h5>
            <ul class="list text-small footer-list">
              <li><a class="text-muted" href="#">Lorem ipsum</a></li>
              <li><a class="text-muted" href="#">Dolor sit amet</a></li>
              <li><a class="text-muted" href="#">Nullam in ultricies</a></li>
              <li><a class="text-muted" href="#">Vestibulum at sapie</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h5 class="tabs">CONTACT US</h5>
            <ul class="list-unstyled text-small footer-list2">
              <li><a class="text-muted f18" href="#"><b>588 125 4666</b></a></li>
              <li><a class="text-muted" href="#"><u>support@yourdomain.com</u></a></li>
              <li><a class="text-muted" href="#">5 Place Road Park</a></li>
              <li><a class="text-muted" href="#">New York 24856</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3 text-center">

            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            </svg>

          </div>
        </div>
        <p class="copy-right"><i class="fa fa-copyright" aria-hidden="true"></i> 2018 Technoflair Solutions. All Rights
          Reserved.</p>
      </footer>
    </div>
  </div>
  <!-- /footer -->
