<div class="main-body">
  <!-- <app-header></app-header> -->
  <div class="">
    <carousel>
      <slide>
        <img src="assets/images/slide1.jpg" alt="Women Empowerment" style="display: block; width: 100%">
      </slide>
      <slide>
        <img src="assets/images/slide1.jpg" alt="Women Education" style="display: block; width: 100%">
      </slide>
      <slide>
        <img src="assets/images/slide1.jpg" alt="Child Education" style="display: block; width: 100%">
      </slide>
    </carousel>
  </div>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row mt-3">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h3>Women Unemployment</h3>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
          vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus
          magna.</p>
        <p><a class="btn btn-secondary" [routerLink]="['/unemployment']" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h3>Women Education</h3>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
          consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
        </p>
        <p><a [routerLink]="['/education/child']" class="btn btn-secondary" role="button">View details &raquo;</a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
        </svg>
        <h3>Child Education</h3>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
          felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
          massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" [routerLink]="['/education/child']" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- /Team -->
    <!-- Statitics Info -->
    <div class="container-fluid gedf-wrapper mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <div class="h5">@LeeCross</div>
              <div class="h7 text-muted">Fullname : Miracles Lee Cross</div>
              <div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
                etc.
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h6 text-muted">Followers</div>
                <div class="h5">5.2342</div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">Following</div>
                <div class="h5">6758</div>
              </li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 gedf-main">


        </div>
        <div class="col-md-3">
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card gedf-card">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Info -->

  <div class="container-fluid card">
    <div class="container">
      <div class="card-deck mb-5 mt-5 text-center">
        <div class="card box-shadow width-max">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Lorem ipsum</h4>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="images/icon1.png" alt="icon1">
            <p class="card_text">Aenean consequat at tortor ac feugiat. Praesent at tristique ipsum. Cras henrit
              volutpat vulputate.</p>
            <a href="#" class="more_info">more info</a>
          </div>
        </div>
        <div class="card box-shadow width-max">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Dolor sit amet</h4>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="images/icon2.png" alt="icon2">
            <p class="card_text">Aenean consequat at tortor ac feugiat. Praesent at tristique ipsum. Cras henrit
              volutpat vulputate.</p>
            <a href="#" class="more_info">more info</a>
          </div>
        </div>
        <div class="card box-shadow width-max">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Nullam in ultricies</h4>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="images/icon3.png" alt="icon3">
            <p class="card_text">Aenean consequat at tortor ac feugiat. Praesent at tristique ipsum. Cras henrit
              volutpat vulputate.</p>
            <a href="#" class="more_info">more info</a>
          </div>
        </div>
        <div class="card box-shadow width-max">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Vestibulum at sapie</h4>
          </div>
          <div class="card-body">
            <img class="img-fluid" src="images/icon4.png" alt="icon4">
            <p class="card_text">Aenean consequat at tortor ac feugiat. Praesent at tristique ipsum. Cras henrit
              volutpat vulputate.</p>
            <a href="#" class="more_info">more info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Info -->
  <!-- Quote -->

  <div class="container-fluid text_bg">
    <div class="container">
      <div class="row">
        <div class="col-12 text1">“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis elementum diam.“
        </div>
      </div>
    </div>
  </div>
  <!-- /Quote -->
  <!-- footer -->

  <div class="container-fluid footermain">
    <div class="container">
      <footer class="pt-4 pt-md-5 pb-md-4">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3">
            <h5 class="tabs">COMPANY</h5>
            <ul class="list text-small footer-list">
              <li><a class="text-muted" href="#">About us</a></li>
              <li><a class="text-muted" href="#">Career</a></li>
              <li><a class="text-muted" href="#">Our works / References</a></li>
              <li><a class="text-muted" href="#">Contact us</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h5 class="tabs">OUR SERVICES</h5>
            <ul class="list text-small footer-list">
              <li><a class="text-muted" href="#">Lorem ipsum</a></li>
              <li><a class="text-muted" href="#">Dolor sit amet</a></li>
              <li><a class="text-muted" href="#">Nullam in ultricies</a></li>
              <li><a class="text-muted" href="#">Vestibulum at sapie</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3">
            <h5 class="tabs">CONTACT US</h5>
            <ul class="list-unstyled text-small footer-list2">
              <li><a class="text-muted f18" href="#"><b>588 125 4666</b></a></li>
              <li><a class="text-muted" href="#"><u>support@yourdomain.com</u></a></li>
              <li><a class="text-muted" href="#">5 Place Road Park</a></li>
              <li><a class="text-muted" href="#">New York 24856</a></li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-3 text-center">

            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
            </svg>

          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- /footer -->
