.text_bg {
  background-color: rgb(52, 73, 94);
}
.text1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: white;
  padding: 40px 0px;
}

/* footer */

.tabs {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 47, 47);
  background-color: rgb(101, 101, 101);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 10px 10px 20px;
  color: #fff;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.text-muted {
  color: #8e8e8e !important;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.footer-list {
  position: relative;
  list-style: none;
}

.footer-list li::before {
  content: "▶";
  position: absolute;
  left: 23px;
  font-size: 8px;
  line-height: 25px;
  color: #8e8e8e;
}

.footer-list2 {
  text-align: center;
}

.footermain {
  background-color: #3a3a3a;
}
.card {
  margin-left: 0 !important;
  background-color: #eeeeee;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  background-color: #2180c4;
  border-radius: 0 !important;
  color: white;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 7px;
}

.card_text {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #6f6f6f;
  margin-top: 20px;
}

.card-body {
  background-color: #fff;
}

.more_info {
  font-size: 13px;
  text-align: center;
  color: #54add7;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

::ng-deep .carousel-inner {
  height: 22rem;
}

.games-schedule .well {
  background-color: #fafbfc;
  border: 1px #e7e7e7 solid;
  border-top: 2px #1761a6 solid;
  border-radius: 0px;
  padding: 0 10px 0 10px;
}
.games-schedule .col-md-2 {
  padding: 5px;
}
.games-schedule-title {
  background-color: #1761a6;
  color: #ffffff;
  padding: 5px;
  margin-bottom: 10px;
}
.games-schedule-title h5 {
  font-size: 18px;
  text-align: center;
  margin: 3px 0 3px 0;
}
.games-schedule-items {
  padding: 5px;
  margin-bottom: 15px;
}
.last-item {
  margin-bottom: 0px;
}
.games-team {
  margin-bottom: 12px;
}
.games-team h4 {
  color: #59a1e8;
  text-align: center;
  margin-top: 20px;
  border: 1px #c8d8e7 dotted;
  padding: 5px;
  width: 100%;
}
.games-team img {
  border-bottom: 2px #6b9fd3 solid;
  margin-bottom: 3px;
}
.games-team span {
  color: #de6c10;
  font-size: 13px;
}
.games-dash {
  border: none;
  border-top: 1px #95b3d0 dotted;
}
.games-info p {
  margin: 0;
  padding: 0;
  color: #0a2948;
  line-height: 20px;
}
.games-schedule-footer {
  background-color: #1761a6;
  color: #ffffff;
  font-size: 10px;
  padding: 5px;
}
.games-schedule-footer p {
  margin: 0;
}
