.text_bg {
  background-color: rgb(52, 73, 94);
}
.text1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 28px;
  color: white;
  padding: 40px 0px;
}

/* footer */

.tabs {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(47, 47, 47);
  background-color: rgb(101, 101, 101);
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 10px 10px 20px;
  color: #fff;
  margin-bottom: 25px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.text-muted {
  color: #8e8e8e !important;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.footer-list {
  position: relative;
  list-style: none;
}

.footer-list li::before {
  content: "▶";
  position: absolute;
  left: 23px;
  font-size: 8px;
  line-height: 25px;
  color: #8e8e8e;
}

.footer-list2 {
  text-align: center;
}

.footermain {
  background-color: #3a3a3a;
}
.card {
  margin-left: 0 !important;
  background-color: #eeeeee;
  border-radius: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 2px solid rgba(0, 0, 0, 0.125);
}

.card-header {
  background-color: #2180c4;
  border-radius: 0 !important;
  color: white;
  font-size: 22px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 7px;
}

.card_text {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #6f6f6f;
  margin-top: 20px;
}

.card-body {
  background-color: #fff;
}

.more_info {
  font-size: 13px;
  text-align: center;
  color: #54add7;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

::ng-deep .carousel-inner {
  height: 22rem;
}
