.jobtitle-block {
  background-color: #34495e;
  padding: 60px;
  position: relative;
}
.job-title {
  position: absolute;
  top: 60%;
  left: 49%;
  color: white;
}

/* Job Overview */
.job-overview {
  float: left;
  width: 100%;
  margin-top: 30px;
}
.job-head-info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 25px;
}
.job-head-info h4 {
  float: left;
  width: 100%;
  font-size: 24px;
  color: #202020;
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 10px;
}
.job-head-info span {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #888888;
  line-height: 10px;
}
.job-head-info p {
  float: left;
  margin: 0;
  margin-top: 0px;
  margin-right: 0px;
  font-size: 13px;
  margin-right: 40px;
  color: #888;
  margin-top: 11px;
}
.job-overview > h3 {
  float: left;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.job-overview ul {
  float: left;
  width: 100%;
  border: 2px solid #e8ecec;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;

  margin: 0;
  padding: 15px !important;
}
.job-overview ul > li {
  float: left;
  width: 100%;
  list-style-type: none;
  margin: 0;
  position: relative;
  margin: 15px 0;
}
.job-overview ul > li h3 {
  float: left;
  width: 100%;
  font-size: 20px;
  margin: 0;
}
.job-overview ul > li span {
  float: left;
  width: 100%;
  font-size: 13px;
  color: #888888;
  margin-top: 7px;
}
