<div class="container-fluid home-main">
  <h2>Event Name <span class="blinker">{{eventDetails.eventName}}</span></h2>
  <button type="button" class="btn btn-default">Join Event</button>
</div>
<div class="container-fluid home-content1">
  <div class="row">
    <div class="col-md-6 content1-left">
      <!-- <h3>Event Details <span class="blinker">{{ eventDetails.}}</span></h3> -->
      <p>Event Descripption</p>
      <div class="content1-left">
        {{eventDetails.eventDescription}}
      </div>
    </div>
    <div class="col-md-6 content1-right">
      <h4>Participents List</h4>
      <p>{{ eventDetails.volunteeerList}}</p>

    </div>
  </div>
</div>
<div class="container-fluid home-content2">
  <p>{{eventDetails.newsAndAnnouncements}} </p>
</div>
