<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="background-image: url('assets/images/login_image.jpg');
background-repeat: no-repeat;
background-size: 100% 100%; opacity: 0.9;">
    </div>
    <div class="col-sm-6 float-right">
      <div class="container">
        <div class="box">
          <input type="checkbox" id="toggle" class="box__toggle" hidden>
          <!-- style="background-color: #A67F8E;" -->
          <img src="https://www.dropbox.com/s/u1hx11933jjk7j5/unsplash-bike.jpeg?raw=1" class="box__image">
          <form class="form form--register" [formGroup]="registrationForm" action="">
            <h1 class="form__title">Sign up</h1>

            <div class="form__helper">
              <input type="text" name="user" id="new-user" placeholder="User" class="form__input" />
              <label class="form__label" formControlName="firstName" for="new-user">User</label>
            </div>

            <div class="form__helper">
              <input type="email" name="email" id="email" placeholder="Email" class="form__input" />
              <label class="form__label" formControlName="email" for="email">Email</label>
            </div>

            <div class="form__helper">
              <input type="password" id="new-user-password" placeholder="Phone Number" class="form__input" />
              <label class="form__label" formControlName="phoneNumber">Phone Number</label>
            </div>

            <div class="form__helper">
              <input type="password" name="password" id="new-user-password" placeholder="Password"
                class="form__input" />
              <label class="form__label" formControlName="password" for="new-user-password">Password</label>
            </div>

            <div class="form__helper">
              <input type="password" name="password" id="confirm-password" Placeholder="Confirm password"
                class="form__input" />
              <label class="form__label" formControlName="condirmPassword" for="confirm-password">Confirm
                password</label>
            </div>

            <button type="submit" class="form__button" (click)="register()">Register</button>

            <p class="form__text">Already have an account? <label for="toggle" class="form__link">Sign in!</label>
          </form>

          <form class="form form--login" [formGroup]="loginForm" action="">
            <h1 class="form__title">Sign in</h1>

            <div class="form__helper">
              <input type="text" name="userName" id="userName" formControlName="userName" placeholder="User"
                class="form__input" />
              <label class="form__label" for="user">User</label>
            </div>

            <div class="form__helper">
              <input type="password" name="password" id="password" formControlName="password" placeholder="Password"
                class="form__input" />
              <label class="form__label" for="password">Password</label>
            </div>

            <button type="submit" class="form__button" for="toggle" (click)="submit()">Login</button>

            <p class="form__text">Don't have an account? <label for="toggle" class="form__link">Sign up!</label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="sidenav">
  <div class="login-main-text">
    <h2>RWE<br> Registration Page</h2>
    <p>RWE</p>
  </div>
</div>
<div class="main d-flex justify-content-center">
  <div class="col-md-6 col-sm-12 mt-4">

    <div class="main-center">
      <h5 class="text-center">Registration</h5>
      <form class="" [formGroup]="registrationForm">

        <div class="form-group">
          <label for="name">First Name</label>
          <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" formControlName="firstName" placeholder="First Name" />
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" formControlName="userName" placeholder="Username" />
        </div>

        <div class="form-group">
          <label for="username">Gender</label>
          <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
              <input type="radio" class="form-check-input" id="radio1" name="optradio" value="Female" checked>Female
            </label>
          </div>
          <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="optradio" value="Male">Male
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>

          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" formControlName="email" placeholder="Enter your Email" />
        </div>

        <div class="form-group">
          <label for="email">Phone Number</label>

          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Mobile Number" />

        </div>


        <div class="form-group">
          <label for="password">Password</label>
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" formControlName="password" placeholder="Enter your Password" />

        </div>

        <div class="form-group">
          <label for="confirm">Confirm Password</label>
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" formControlName="confirmPassword"
            placeholder="Confirm your Password" />

        </div>

        <button type="submit" class="btn btn-black float-right">Register</button>

      </form>
    </div>
  </div>
</div> -->
